/* Import */
/* reset */
body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* reset end */
/* Containers */
.container-Desktop {
  width: 1200px;
  margin: 0 auto;
}

.container-Ipad {
  width: 920px;
  margin: 0 auto;
}

.container-Mobile {
  width: 787px;
  margin: 0 auto;
}

.container-Z-fold {
  width: 300px;
  margin: 0 auto;
}

.container-header-end-hero {
  width: 1200px;
  margin: 0 auto;
}

.container-news {
  width: 1200px;
  margin: 0 auto;
}

.container-explore {
  width: 1200px;
  margin: 0 auto;
}

.container-products {
  width: 1200px;
  margin: 0 auto;
}

.container-partners {
  width: 1200px;
  margin: 0 auto;
}

.container-adoption {
  width: 1200px;
  margin: 0 auto;
}

.container-knowledge {
  width: 1200px;
  margin: 0 auto;
}

.container-footer {
  width: 1200px;
  margin: 0 auto;
}

/* Containers end */
.half {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}

.athird {
  width: 33%;
  display: inline-block;
  vertical-align: middle;
}

.athird {
  width: 66%;
  display: inline-block;
  vertical-align: middle;
}

button {
  all: unset;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  padding-inline: 3rem;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-0 {
  gap: 0;
}

.gap-15 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}

.gap-3 {
  gap: 30px;
}

.gap-4 {
  gap: 40px;
}

.gap-5 {
  gap: 50px;
}

.gap-7 {
  gap: 47rem;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.align-center {
  align-content: center;
}

.text-sm {
  font-size: 16px;
}

.text-sm-1 {
  font-size: 18px;
}

.text-md {
  font-size: 20px;
}

.text-md-2 {
  font-size: 32px;
}

.text-lg {
  font-size: 50px;
}

.text-lg-2 {
  font-size: 72px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.63%;
}

.col-6 {
  width: 49.96%;
}

.col-7 {
  width: 58.29%;
}

.col-8 {
  width: 66.62%;
}

.col-9 {
  width: 74.95%;
}

.col-10 {
  width: 83.28%;
}

.col-11 {
  width: 91.61%;
}

.col-12 {
  width: 100%;
}

/* @media */
@media (max-width: 1320px) {
  .container__footer {
    width: 960px;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.63%;
  }
  .col-lg-6 {
    width: 49.96%;
  }
  .col-lg-7 {
    width: 58.29%;
  }
  .col-lg-8 {
    width: 66.62%;
  }
  .col-lg-9 {
    width: 74.95%;
  }
  .col-lg-10 {
    width: 83.28%;
  }
  .col-lg-11 {
    width: 91.61%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (max-width: 920px) {
  .container-footer {
    width: 700px;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.63%;
  }
  .col-md-6 {
    width: 49.96%;
  }
  .col-md-7 {
    width: 58.29%;
  }
  .col-md-8 {
    width: 66.62%;
  }
  .col-md-9 {
    width: 74.95%;
  }
  .col-md-10 {
    width: 83.28%;
  }
  .col-md-11 {
    width: 91.61%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (max-width: 760px) {
  .container-footer {
    width: 350px;
  }
  .col-sm-2-1 {
    width: 8.33%;
  }
  .col-sm-2-2 {
    width: 16.66%;
  }
  .col-sm-2-3 {
    width: 25%;
  }
  .col-sm-2-4 {
    width: 33.33%;
  }
  .col-sm-2-5 {
    width: 41.63%;
  }
  .col-sm-2-6 {
    width: 49.96%;
  }
  .col-sm-2-7 {
    width: 58.29%;
  }
  .col-sm-2-8 {
    width: 66.62%;
  }
  .col-sm-2-9 {
    width: 74.95%;
  }
  .col-sm-2-10 {
    width: 83.28%;
  }
  .col-sm-2-11 {
    width: 91.61%;
  }
  .col-sm-2-12 {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .container-footer {
    width: 200px;
  }
  .col-sm-1-1 {
    width: 8.33%;
  }
  .col-sm-1-2 {
    width: 16.66%;
  }
  .col-sm-1-3 {
    width: 25%;
  }
  .col-sm-1-4 {
    width: 33.33%;
  }
  .col-sm-1-5 {
    width: 41.63%;
  }
  .col-sm-1-6 {
    width: 49.96%;
  }
  .col-sm-1-7 {
    width: 58.29%;
  }
  .col-sm-1-8 {
    width: 66.62%;
  }
  .col-sm-1-9 {
    width: 74.95%;
  }
  .col-sm-1-10 {
    width: 83.28%;
  }
  .col-sm-1-11 {
    width: 91.61%;
  }
  .col-sm-1-12 {
    width: 100%;
  }
}
/* @media end */
/* Umumiy scss */
.container-header {
  width: 100%;
  padding-top: 30px;
  padding-left: 130px;
  padding-bottom: 30px;
  padding-right: 20px;
  background: var(--Linear, linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%));
}
.container-header .header__main {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.container-header .header__main .header__div {
  display: flex;
  width: 1440px;
  padding: 28px 130px;
  align-items: center;
  gap: 48px;
}
.container-header .header__main .header__div .div--left {
  font-size: 18px;
}
.container-header .header__main .header__div .div--right .nav-btn {
  display: flex;
  width: 200px;
  height: 44px;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  border-radius: 57px;
  background: var(--primary-color-dark-blue, #003459);
  color: white;
}
.container-header .header__main .header__div .div--right .search {
  width: 200px;
  padding: 12px;
  justify-content: center;
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
}
.container-header .header__main .header__div .div--right .search .search-icon {
  margin-left: 10px;
  width: 50%;
}
.container-header .header__main .header__div .div--right .search .searchs {
  border: none;
  background-color: transparent;
}
.container-header .header__main .header__div .div--right .check {
  z-index: -1;
}
.container-header .hero {
  width: 100%;
  background: var(--Linear, linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%));
}
.container-header .hero .lefts .lets--title {
  margin-top: 80px;
  color: var(--primary-color-dark-blue-80, #002A48);
  font-family: SVN-Gilroy;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px;
  text-transform: capitalize;
}
.container-header .hero .lefts .lefts_title-2 {
  margin-top: 5px;
  color: var(--primary-color-dark-blue-80, #002A48);
  font-family: SVN-Gilroy;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-transform: capitalize;
}
.container-header .hero .lefts .lefts-text {
  margin-top: 25px;
  color: var(--neutral-color-80, #242B33);
  /* Body/16px Medium */
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.container-header .hero .lefts .div--btn {
  margin-top: 35px;
}
.container-header .hero .lefts .div--btn .roteyt {
  transform: rotateX(90deg);
}
.container-header .hero .lefts .div--btn .view {
  display: inline-flex;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 57px;
  border: 1.5px solid var(--primary-color-dark-blue, #003459);
  color: var(--primary-color-dark-blue, #003459);
  /* Body/16px Medium */
  font-family: SVN-Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.container-header .hero .lefts .div--btn .now {
  display: flex;
  width: 163px;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 57px;
  background: var(--primary-color-dark-blue, #003459);
  color: var(--neutral-color-00, #FDFDFD);
  /* Body/16px Medium */
  font-family: SVN-Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.container-header .hero .right_nav {
  width: 500px;
  height: 450px;
  bottom: 10px;
}
.container-header .hero .right_nav .nav--img {
  width: 600px;
  height: 600px;
}

/* New */
.new_top {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 120px;
}
.new_top .left .news__title {
  color: #000;
  /* Body/16px Medium */
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.new_top .right .news__text {
  color: var(--primary-color-dark-blue, #003459);
  font-family: SVN-Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
}
.new_top .right .right-down .down--title {
  display: inline-flex;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  border-radius: 57px;
  border: 1.5px solid var(--primary-color-dark-blue, #003459);
  cursor: pointer;
  font-family: SVN-Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.new_top .right .right-down .drops-wh {
  width: 5px;
  height: 5px;
}

.news {
  margin-top: 50px;
}
.news .container__grid {
  display: grid;
  margin-top: 28px;
  margin-bottom: 60px;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat(2, 378px);
  gap: 20PX;
  row-gap: 50px;
}
.news .container__grid .news__gird_card {
  width: 280px;
  height: 450px;
  padding: 12px 12px 0px 12px;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
  background: white;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.news .container__grid .news__gird_card:hover {
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2);
}
.news .container__grid .news__gird_card::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -1;
  left: 5px;
  bottom: 5px;
  background: grey;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 50%, 76% 74%, 50% 100%, 0 100%, 0 50%, 25% 25%);
          clip-path: polygon(50% 0, 100% 0, 100% 50%, 76% 74%, 50% 100%, 0 100%, 0 50%, 25% 25%);
  transition: all 0.3s ease-in-out;
}
.news .container__grid .news__gird_card:hover::after {
  left: -15px;
  bottom: -15px;
}
.news .container__grid .news__gird_card .grid-card__imgs:hover {
  border-radius: 10px;
}
.news .container__grid .news__gird_card .cards__title {
  padding: 8px 0 5px 0;
  color: var(--neutral-color-100, #00171F);
  /* Body/16px Bold */
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.news .container__grid .news__gird_card .news-texts {
  padding: 5px 0;
  display: flex;
  gap: 6px;
  align-items: center;
}
.news .container__grid .news__gird_card .news-texts .gene {
  color: var(--neutral-color-60, #667479);
  /* Body/12px Medium */
  font-family: SVN-Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.news .container__grid .news__gird_card .news-texts .dot-img {
  width: 8px;
  height: 8px;
}
.news .container__grid .news__gird_card .news-texts .months {
  color: var(--neutral-color-60, #000);
  /* Body/12px Bold */
  font-family: SVN-Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.news .container__grid .news__gird_card .cards__text {
  padding: 5px 0;
  color: var(--neutral-color-100, #00171F);
  /* Body/14px Bold */
  font-family: SVN-Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.news .container__grid .mtop-5 {
  margin-top: 50px;
}

@media (max-width: 1220px) and (min-width: 1024px) {
  .container-news {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1022px) and (min-width: 787px) {
  .container-news {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .container-news {
    width: 767px;
    margin: 0 auto;
  }
}
/* New end */
.explore {
  width: 100%;
  margin-top: 200px;
}
.explore .explore__div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  background-color: #003459;
}
.explore .explore__div .explore--image {
  bottom: 0;
}
.explore .explore__div .explore--title {
  padding: 25px;
  align-items: center;
  justify-content: space-between;
  text-align: end;
}
.explore .explore__div .explore--title .title__h1 {
  color: var(--primary-color-dark-blue, #003459);
  font-family: SVN-Gilroy;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px;
  text-transform: capitalize;
  color: black;
}
.explore .explore__div .explore--title .title__h3 {
  color: var(--primary-color-dark-blue, #003459);
  font-family: SVN-Gilroy;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  text-transform: capitalize;
  background-color: purple;
}
.explore .explore__div .explore--title .btn__hover {
  display: inline-flex;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Products */
.products {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 300px;
}
.products .product_top .top__left {
  color: #000;
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.products .product_top .bottom_right {
  color: var(--primary-color-dark-blue, #003459);
  font-family: SVN-Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
}
.products .product__div {
  display: grid;
  width: 100%;
  margin-top: 50px;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat(2, 378px);
  gap: 50px;
}
.products .product__div .product__card {
  width: 280px;
  height: 450px;
  padding: 8px 8px 0px 8px;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
  background: white;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
  border-radius: 10px;
}
.products .product__div .product__card:hover {
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2);
}
.products .product__div .product__card::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -1;
  left: 5px;
  bottom: 5px;
  background: grey;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 50%, 76% 74%, 50% 100%, 0 100%, 0 50%, 25% 25%);
          clip-path: polygon(50% 0, 100% 0, 100% 50%, 76% 74%, 50% 100%, 0 100%, 0 50%, 25% 25%);
  transition: all 0.3s ease-in-out;
}
.products .product__div .product__card:hover::after {
  left: -15px;
  bottom: -15px;
}
.products .product__div .product__card .texts--product {
  padding: 10px;
}
.products .product__div .product__card .product__images {
  border-radius: 10px;
}
.products .product__div .product__card .products-titles {
  color: var(--neutral-color-100, #00171F);
  /* Body/16px Bold */
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.products .product__div .product__card .product-texts {
  padding: 10px 10px 10px 0;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 4px;
}
.products .product__div .product__card .product-texts .dot-img {
  width: 5px;
  height: 18px;
}
.products .product__div .product__card .product-texts .size {
  color: var(--neutral-color-60, #667479);
  /* Body/12px Medium */
  font-family: SVN-Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.products .product__div .product__card .dog-food {
  color: var(--neutral-color-60, #667479);
  /* Body/12px Bold */
  font-family: SVN-Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.products .product__div .product__card .free-toy {
  margin-top: 5px;
  padding: 6px 10px 4px 10px;
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 5px;
  border-radius: 8px;
  background-color: #FCEED5;
}
.products .product__div .product__card .free-toy .gm {
  color: var(--primary-color-dark-blue-80, #002A48);
  /* Body/14px Bold */
  font-family: SVN-Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.products .product__div .mgtop-5 {
  margin-top: 50px;
}

/* Products end */
/* Partners */
.partners {
  margin-top: 5px;
}
.partners .container-partners .partners-head p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
}
.partners .container-partners .partners-head p span {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
}
.partners .partner-cops {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Partners end */
.adoption {
  margin-top: 50px;
}
.adoption .container-adoption {
  background-color: #FFB775;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 378px;
}
.adoption .container-adoption .adoption-shape-1 {
  position: absolute;
  top: 0;
  left: 0;
}
.adoption .container-adoption .adoption-shape-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.adoption .container-adoption img {
  position: relative;
  z-index: 1;
}
.adoption .container-adoption .left {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 64px;
  padding-left: 85px;
}
.adoption .container-adoption .left h2 {
  color: #003459;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px;
  text-transform: capitalize;
}
.adoption .container-adoption .left h3 {
  color: #003459;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  text-transform: capitalize;
}
.adoption .container-adoption .left .buttons {
  padding-top: 42px;
  display: flex;
  gap: 20px;
}

.knowledge {
  margin-top: 50px;
}
.knowledge .container-knowledge .kn-cards a.last {
  display: none;
}
.knowledge img {
  border-radius: 12px;
  padding-bottom: 15px;
}
.knowledge .kn-span {
  padding: 2px 10px;
  background-color: #00A7E7;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border-radius: 28px;
  color: #FDFDFD;
  width: 90px;
}
.knowledge .knowledge-title {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.knowledge .knowledge-title .title-you {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #00171F;
}
.knowledge .knowledge-title .title-you .span {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
}
.knowledge .knowledge-title .knowledge-btn {
  margin-left: auto;
}
.knowledge .knowledge-cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 24px;
}

/* Footer */
.footer {
  margin-top: 50px;
  padding-top: 50px;
  background-color: #FCEED5;
}
.footer .container-footer .register {
  display: flex;
  padding: 32px;
  gap: 20px;
  border-radius: 16px;
  background-color: #003459;
}
.footer .container-footer .register .register__title {
  color: #FDFDFD;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
  width: 40%;
}
.footer .container-footer .register .register__email {
  display: flex;
  gap: 12px;
  width: 58%;
  padding: 10px;
  align-items: center;
  border-radius: 15px;
  background-color: white;
}
.footer .container-footer .register .register__email .email-input {
  flex: 1;
  width: 68%;
  font-size: 14px;
  padding: 12px 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid #98A3A4;
}
.footer .container-footer .register .register__email button {
  border-radius: 8px;
  width: 30%;
}
.footer .container-footer .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #ccd1d2;
}
.footer .container-footer .menu .menu__link {
  display: flex;
  gap: 50px;
}
.footer .container-footer .menu .menu__link .link-li {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #00262f;
}
.footer .container-footer .menu .tarmoqlar .tarmoq {
  width: 25px;
  height: 25px;
}
.footer .container-footer .pechat {
  padding: 40px 0;
}
.footer .container-footer .pechat .new-pechat {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #677488;
}
.footer .container-footer .pechat ul .service {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #667479;
}

/* Footer end */
/* Import end */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */