// Dark colors
$dark-100: #00171F;
$dark-80: #242B33;
$dark-60: #667479;
$dark-40: #99A2A5;
$dark-20: #CCD1D2;
$dark-10: #EBEEEF;
$dark-00: #FDFDFD;
// Dark colors end

// Yellow colors
$secondary-mon-yellow: #F7DBA7;
$secondary-mon-yellow-light: #FCEED5;
$secondary-mon-yellow-normal: #F1D092;
$secondary-mon-yellow-dark: #EEC77E;
$secondary-mon-yellow-extra: #FFB775;
// Yellow colors end

// Blue colors
$primary-dark-blue: #003459;
$primary-dark-blue-light: #0078CD;
$primary-dark-blue-normal: #00528C;
$primary-dark-blue-dark: #002A48;
// Blue colors end

// Colors
$pink-red: #FF564F;
$green-light: #34C759;
$green-light: #34C759;
$orange-shine: #FF912C;
$blue-sea: #00A7E7;
// Colors end