.container_hero {
    width: 100%;
    height: 780px;
    background: no-repeat url(/images/main/main-img.png);
    position: relative;
}

.position {
    width: 35rem;
    height: 35rem;
    margin: 3.81rem 70.98rem 10.06rem 14.19rem;
    position: absolute;
}

/* Title */

.title__cards {
    position: relative;
}

.title__cards img {
    width: 100%;
    height: 50%;
    position: absolute;
}

/* Title end */